{% extends 'base.html.twig' %}

{% block title %}Coiffeur Bondy{% endblock %}

{% block body %}
<div class= "coiffeur">
<div class= "dark">
<div class ="container">
<br>

<h1 class="p-4">Bienvenue chez Ganapathy</h1>

<h3 class="p-4"> Nos services de Coiffeur</h3><br><br>
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card h-100 bg-danger p-4">
      <img src="" class="card-img-top" alt="....">
      <div class="card-body">
        <h5 class="card-title">....</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-warning p-4">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body bg-warning">
        <h5 class="card-title">....</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-success p-4">
      <img src="" class="card-img-top" alt="....">
      <div class="card-body bg-success">
        <h5 class="card-title">....</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-primary p-4">
      <img src="" class="card-img-top" alt="....">
      <div class="card-body">
        <h5 class="card-title">....</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 bg-dark p-4">
      <img src="" class="card-img-top" alt="....">
      <div class="card-body">
        <h5 class="card-title">....</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 p-4 bg-warning">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">....</h5>
        
      </div>
    </div>
  </div>
  </div>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
</div>

</div>



{% endblock %}
