<form method="post" action="{{ path('horaire_fermerguichet_delete', {'id': horaire_fermeture_guichet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ horaire_fermeture_guichet.id) }}">
    <button class="btn">Delete</button>
</form>
