{% extends 'base.html.twig' %}

{% block title %}Point Relais{% endblock %}

{% block body %}
{# <div class= "pointrelais">
<div class= ""> #}
{# <div class ="container"> #}
<br>

<h1 class="p-4">Bienvenue chez Ganapathy</h1>

<h3 class="p-4"> Nos services de Point Relais</h3><br><br>
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card_acceuil h-100  p-4">
      <img src="/image/mondial.jpg" class="card-img-top h-50" alt="MondialRelais">
      <div class="card-body">
        <h5 class="card-title">MondialRelais</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card_acceuil h-100  p-4">
      <img src="/image/ups2.jpg" class="card-img-top h-50" alt="ups">
      <div class="card-body">
        <h5 class="card-title">UPS</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card_acceuil h-100  p-4">
      <img src="/image/Relais-colis.jpg" class="card-img-top h-50" alt="RelaisColis">
      <div class="card-body">
        <h5 class="card-title">Relais Colis</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card_acceuil h-100  p-4">
      <img src="/image/chronopost.png" class="card-img-top h-50" alt="Chronpost">
      <div class="card-body">
        <h5 class="card-title">Chronopost</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card_acceuil h-100  p-4">
      <img src="/image/colisprive.png" class="card-img-top h-50" alt="CloisPrivé">
      <div class="card-body">
        <h5 class="card-title">Colis Privé</h5>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card_acceuil h-100  p-4">
      <img src="/image/colissimo.png" class="card-img-top h-50" alt="Colissimo">
      <div class="card-body">
        <h5 class="card-title">Colissimo</h5>
        
      </div>
    </div>
  </div>
  {# </div>
  </div> #}
  <br>
<br>
<br>
<br>
<br>
<br>
</div>

</div>



{% endblock %}
