{% extends 'base.html.twig' %}

{% block title %}Edit JourFermetureGuichet{% endblock %}

{% block body %}
    <h1>Edit JourFermetureGuichet</h1>

    {{ include('jour_fermeture_guichet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('jour_fermerguichet_index') }}">back to list</a>

    {{ include('jour_fermeture_guichet/_delete_form.html.twig') }}
{% endblock %}
