{% extends 'base.html.twig' %}

{% block title %}New JourFermetureGuichet{% endblock %}

{% block body %}
    <h1>Create new JourFermetureGuichet</h1>

    {{ include('jour_fermeture_guichet/_form.html.twig') }}

    <a href="{{ path('jour_fermerguichet_index') }}">back to list</a>
{% endblock %}
