{% extends 'base.html.twig' %}

{% block title %}Planning
{% endblock %}
{% block body %}


	<div class="container">


		<h1 class="text-center">Planning de la semaine</h1>
		<div class="heading-underline"></div>


		{# <pre>
			{{ dump( jours ) }}

		</pre> #}
		<div class="jumbotron">
		
			<div class="row">
				
				<div class="">
				{% include "planning/liste.html.twig" %}
				</div>
				
				

			</div >
		</div>

	<div>
{% endblock %}
