
{% extends "base.html.twig" %}
{% block title %}rendez-vous

{% endblock %}
{% block body %}

{# <h5>Votre Rendez-vous est confirmé et merci de consulter votre email. </h5> #}

<br>
<a href="{{path("planning") }}">Prendre un autre rendez-vous</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}