<div class="horaires container-fluid">
	<div class="row dark">
		<div class="col-12 aos-animation" data-animation="fadeInUp">
			<h3 class="heading p-3">Horaires d'ouverture</h3>
			<div class="heading-underline"></div>
		</div>
		<div class="col-md-12">
			<div class="aos-animation" data-animation="fadeInUp">

				<div class="row justify-content-center">
					<div class="col-4 day">
						<h3>JOUR</h3>
						<div class="heading-underline"></div>
						<p>Lundi</p>
						<p>Mardi</p>
						<p>Mercredi</p>
						<p>Jeudi</p>
						<p>Vendredi</p>
						<p>Samedi</p>
						<p>Dimanche</p>
					</div>
					<div class="col-4 day">
						<h3>HORAIRES</h3>
						<div class="heading-underline"></div>
						<p>8:00 à 21:00</p>
						<p>8:00 à 21:00</p>
						<p>8:00 à 21:00</p>
						<p>8:00 à 21:00</p>
						<p>8:00 à 21:00</p>
						<p>8:00 à 21:00</p>
						<p>8:00 à 21:00</p>

					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="fixed-wrap">
		<div id="fixed"></div>
	</div>
</div></div>
