{% extends 'base.html.twig' %}

{% block title %}Rdv{% endblock %}

{% block body %}
    <h1>Rdv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ rdv.jour ? rdv.jour|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mesrdvs') }}">back to list</a>

    {{ include('rdv/_delete_user_form.html.twig') }}
{% endblock %}
